$spacers: (
    0: 0,
    1: 10px,
    2: 20px,
    3: 30px
);

// flexbox

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

// margins/padding

@for $i from 0 to length($spacers) {
    .m-#{$i} { margin: map-get($spacers, $i); }
    .mt-#{$i} { margin-top: map-get($spacers, $i); }
    .mr-#{$i} { margin-right: map-get($spacers, $i); }
    .mb-#{$i} { margin-bottom: map-get($spacers, $i); }
    .ml-#{$i} { margin-left: map-get($spacers, $i); }
    .mv-#{$i} { margin-top: map-get($spacers, $i); margin-bottom: map-get($spacers, $i); }
    .mh-#{$i} { margin-left: map-get($spacers, $i); margin-right: map-get($spacers, $i); }

    .p-#{$i} { padding: map-get($spacers, $i); }
    .pt-#{$i} { padding-top: map-get($spacers, $i); }
    .pr-#{$i} { padding-right: map-get($spacers, $i); }
    .pb-#{$i} { padding-bottom: map-get($spacers, $i); }
    .pl-#{$i} { padding-left: map-get($spacers, $i); }
    .pv-#{$i} { padding-top: map-get($spacers, $i); padding-bottom: map-get($spacers, $i); }
    .ph-#{$i} { padding-left: map-get($spacers, $i); padding-right: map-get($spacers, $i); }
}
