header {
	.login {
		margin-top: 30px;
		padding-right: 0;
		text-align: right;

		span {
			padding-right: 15px;
		}
	}
}

.graphs {
	border: 2px solid black;
}

.single-graph {
	display: inline-block;
}

.tab-pane {
	&.active {
		@include clearfix;
	}

	.dropdown:first-of-type {
		margin-bottom: 20px;
	}
}

.tabs {
	margin-top: 30px;
}

//to be moved later

.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;

	h3 {
		margin-top: 0;
	}
}

.tab-pane {
	padding: 20px;
}